<h1 class="title">контакты</h1>
<section id="breadcrumbs">
	<div class="content">
		<ul>
			<li><a href="#/">Главная</a></li>
			<li><a href="#/contact">Контакты</a></li>
		</ul>
	</div>
</section>
<section id="contacts">
	<div class="content">
		<h2>Вы можете связаться  с нами любым из представленных способов или оставив сообщение в форме ниже</h2>
		<div class="row">
			<div class="left">
				<ul>
					<li><img src="image/phone-green.png" alt="phone">+7(499)349-10-67</li>
					<li><img src="image/mail-green.png" alt="mail">info@dietologpro.ru</li>
					<li><img src="image/vk-green.png" alt="vk">info@dietologpro.ru</li>
					<li><img src="image/instagram-green.png" alt="instagram">info@dietologpro.ru</li>
				</ul>
			</div>
			<form action="#">
				<textarea name="message" required="required" placeholder="Сообщение"></textarea>
				<div>
					<input name="name" type="text" required="required" placeholder="Имя">
					<input name="email" type="email" required="required" placeholder="E-mail">
					<button class="button">Отправить</button>
				</div>
			</form>
		</div>
	</div>
</section>