<h1 class="title">Курсы<span>и цены</span></h1>
<section id="breadcrumbs">
	<div class="content">
		<ul>
			<li><a href="#/">Главная</a></li>
			<li><a href="#/courses-and-prices">Курсы и цены</a></li>
		</ul>
	</div>
</section>
<section id="courses">
	<div class="content">
		<h2>Пройди обучение по программе «Диетолог» и получи одну из специальностей<div class="line"></div></h2>
		<div class="block">
			<div class="course">
				<div class="photo">
					<img src="image/course-and-price/course-photo-1.png" alt="photo">
					<span class="cour-ab">Курс</span>
				</div>
				<div class="border">
					<h3>Спортивный диетолог-нутрициолог<div class="line"></div></h3>
					<span class="price">70 000 - 80 000</span>
					<span class="work">Где можно работать:</span>
					<ul class="list">
						<li>Фитнес-клуб</li>
						<li>Физкультурно-спортивный центр</li>
						<li>Йога-центр</li>
						<li>Частная практика (собственный бизнес)</li>
					</ul>
				</div>
			</div>
			<div class="description">
				<h3>Спортивный диетолог-нутрициолог<div class="line"></div></h3>
				<div class="raiting">
					<ul class='stars'>
						<li class='star'></li>
						<li class='star'></li>
						<li class='star'></li>
						<li class='star'></li>
						<li></li>
					</ul>
				</div>
				<span class="what-do">Чем будет заниматься врач-диетолог после обучения:</span>
				<ul class="list">
					<li>Осуществлять консультативно-диагностический прием пациентов;</li>
					<li>Проводить первичный осмотр;</li>
					<li>Разрабатывать программы по лечебному питанию;</li>
					<li>Определять причины набора веса;</li>
					<li>Проводить коррекцию рациона питания;</li>
					<li>Разрабатывать индивидуальные меню при ожирении, сахарном диабете 2 типа, метаболическом синдроме, гиперхолестеринемии;</li>
					<li>Осуществлять контроль над соблюдением режима и качества питания.</li>
				</ul>
				<a href="#/courses-and-prices/sport-dietolog" class="button">Требования и стоимость</a>
			</div>
		</div>
		<div class="block">
			<div class="course">
				<div class="photo">
					<img src="image/course-and-price/course-photo-2.png" alt="photo">
					<span class="cour-ab">Курс</span>
				</div>
				<div class="border">
					<h3>Спортивный диетолог-нутрициолог<div class="line"></div></h3>
					<span class="price">70 000 - 80 000</span>
					<span class="work">Где можно работать:</span>
					<ul class="list">
						<li>Фитнес-клуб</li>
						<li>Физкультурно-спортивный центр</li>
						<li>Йога-центр</li>
						<li>Частная практика (собственный бизнес)</li>
					</ul>
				</div>
			</div>
			<div class="description">
				<h3>Спортивный диетолог-нутрициолог<div class="line"></div></h3>
				<div class="raiting">
					<ul class='stars'>
						<li class='star'></li>
						<li class='star'></li>
						<li class='star'></li>
						<li class='star'></li>
						<li></li>
					</ul>
				</div>
				<span class="what-do">Чем будет заниматься врач-диетолог после обучения:</span>
				<ul class="list">
					<li>Осуществлять консультативно-диагностический прием пациентов;</li>
					<li>Проводить первичный осмотр;</li>
					<li>Разрабатывать программы по лечебному питанию;</li>
					<li>Определять причины набора веса;</li>
					<li>Проводить коррекцию рациона питания;</li>
					<li>Разрабатывать индивидуальные меню при ожирении, сахарном диабете 2 типа, метаболическом синдроме, гиперхолестеринемии;</li>
					<li>Осуществлять контроль над соблюдением режима и качества питания.</li>
				</ul>
				<a href="#/" class="button">Требования и стоимость</a>
			</div>
		</div>
	</div>
</section>