<section id="training">
	<div class="content">
		<div class="photo-bg"><img src="image/home/training-bg.png" alt="photo"></div>
		<div class="training">
			<h1><span>Обучение</span>специалистов по спортивному питанию и врачей-диетологов</h1>
			<span class="green">Профессиональная переподготовка и повышение квалификации</span>
			<div class="block">
				<a href="#/" class="button">Получить консультацию</a>
			</div>
		</div>
	</div>
</section>
<section id="who-lead">
	<div class="content">
		<div class="block">
			<div class="apple-photo"></div>
			<div class="photo">
				<img src="image/home/who-lead-photo.png" alt="photo">
			</div>
			<div class="description">
				<h2>Кто ведет курсы ?</h2>
				<p class="name">Олег Ирышкин</p>
				<p>2011 г. - Лечебный факультет Нижегородской государственной медицинской академии. 2014 г. - Аспирантура в МГМУ имени И.М. Сеченова и защитил кандидатскую степень. 2016 г. - Повышение квалификации по программе  «восстановительная медицина» в Российском университете дружбы народов.</p>
				<p>На сегодняшний день за плечами Олега более 10 лет опыта работы в практическом здравоохранении. Он специализируется на различных методиках коррекции веса, а также занимается диетологическим сопровождением профессиональных спортсменов и людей, ведущих здоровый образ жизни.</p>
				<a href="#/" class="button">Перейти к курсам</a>
			</div>
		</div>
	</div>
</section>
<section id="new-article">
	<div class="grey-bg"></div>
	<div class="leaf-1"></div>
	<div class="leaf-2"></div>	
	<div class="content">
		<h2>СВЕЖИЕ СТАТЬИ</h2>
		<a href="#/" class="article-first">
			<p class="category">похудение</p>
			<p class="title">11 лучших клиник похудения в России</p>
			<span class="link">Подробнее</span>
		</a>
		<a href="#/" class="article-second">
			<p class="category">ПИТАНИЕ</p>
			<p class="title">Сколько нужно есть натуральной еды</p>
			<span class="link">Подробнее</span>
		</a>
		<a href="#/" class="article-third">
			<p class="category">похудение</p>
			<p class="title">11 лучших клиник похудения в России</p>
			<span class="link">Подробнее</span>
		</a>
	</div>
</section>
<section id="calc">
	<div class="grey-bg"></div>
	<div class="leaf-3"></div>
	<div class="leaf-4"></div>
	<div class="leaf-5"></div>
	<div class="content">
		<h2>расчитайте ваш идеальный вес</h2>
		<div class="block">
			<form action="#">
				<div class="gender">
					<span class="title">Пол</span>
					<label class="radio-but" for="male">
						Мужчина
						<input id="male" name="gender" value="Мужской" checked type="radio">
						<span class="checkmark"></span>
					</label>
					<label class="radio-but" for="female">
						Женщина
						<input id="female" name="gender" value="Женский" type="radio">
						<span class="checkmark"></span>
					</label>
				</div>
				<div class="age">
					<span class="title">Возраст</span>
					<div id="age">
						<div id="custom-handle" class="ui-slider-handle"><span></span></div>
					</div>
				</div>
				<div class="weight">
					<span class="title">Вес, кг</span>
					<div id="weight">
						<div id="custom-handle" class="ui-slider-handle"><span></span></div>
					</div>
				</div>
				<div class="height">
					<span class="title">Рост, см</span>
					<div id="height">
						<div id="custom-handle" class="ui-slider-handle"><span></span></div>
					</div>
				</div>
				<div class="lifestyle">
					<span class="title">Образ жизни</span>
					<select name="minbeds" id="minbeds" disabled="disabled">
						<option>Сидячий</option>
						<option selected>Малоактивный</option>
						<option>Активный</option>
					</select>
				</div>
				<div class="box">
					<div class="container">
						<p class="title">Индекс массы тела</p>
						<input class="red" name="mass" value="22,9" type="text" disabled>
						<span>Норма</span>
					</div>
					<div class="container">
						<p class="title">Ваш допустимый вес, кг</p>
						<input name="weight" value="45 - 60" type="text" disabled>
						<span></span>
					</div>
					<div class="container">
						<p class="title">Вам требуется, кКал</p>
						<input name="need-stable" value="1 950" type="text" disabled>
						<span>Для поддержания веса</span>
					</div>
					<div class="container">
						<p class="title">Вам требуется, кКал</p>
						<input name="need-loss" value="1 560" type="text" disabled>
						<span>Для снижения веса</span>
					</div>
				</div>
				<a href="#/" class="button">Отправить заявку</a>
			</form>
		</div>
	</div>
</section>
<section id="documentation">
	<div class="content">
		<h2>РАЗРЕШИТЕЛЬная документация</h2>
		<div class="docum">
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
			<a href="#/"><img src="image/home/slider-photo.png" alt="photo"></a>
		</div>
	</div>
</section>
