<h1 class="title">Отзывы</h1>
<section id="breadcrumbs">
	<div class="content">
		<ul>
			<li><a href="#/">Главная</a></li>
			<li><a href="#/review">Отзывы</a></li>
		</ul>
	</div>
</section>
<section id="review">
	<div class="content">
		<div class="review">
			<div class="photo">
				<img src="image/review/review-photo-1.png" alt="photo">
				<span class="name">Иван рокотов</span>
				<span class="sity">г. Москва</span>
			</div>
			<div class="text">
				<span class="date">20.08.2018</span>
				<span class="message">Читала ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени. График я составила сама, преподаватель его немного подкорректировал в итоге курсы я закончила за две недели. Само занятие - конфа по скайпу с презентациями, индивидуально. Преподаватель рассказывает материал, можно задавать вопросы по ходу, консультироваться,</span>
				<span ng-show="showBlock1" class="message hover">ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени. График я составила сама, преподаватель его немного подкорректировал в итоге курсы я закончила за две недели. Само занятие - конфа по скайпу с презентациями, индивидуально. Преподаватель рассказывает материал, можно задавать вопросы по ходу, консультироваться,</span>
				<a href="" ng-click="showBlock1 = ! showBlock1" ng-hide="showBlock1" class="all-message">Читать весь отзыв</a>
			</div>
		</div>
		<div class="review">
			<div class="photo">
				<img src="image/review/review-photo-2.png" alt="photo">
				<span class="name">Иван рокотов</span>
				<span class="sity">г. Москва</span>
			</div>
			<div class="text">
				<span class="date">20.08.2018</span>
				<p class="message">Читала ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени. График я составила сама, преподаватель его немного подкорректировал в итоге курсы я закончила за две недели. Само занятие - конфа по скайпу с презентациями, индивидуально. Преподаватель рассказывает материал, можно задавать вопросы по ходу, консультироваться,</p>
				<span ng-show="showBlock2" class="message hover">ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени. График я составила сама, преподаватель его немного подкорректировал в итоге курсы я закончила за две недели. Само занятие - конфа по скайпу с презентациями, индивидуально. Преподаватель рассказывает материал, можно задавать вопросы по ходу, консультироваться,</span>
				<a href="" ng-click="showBlock2 = ! showBlock2" ng-hide="showBlock2" class="all-message">Читать весь отзыв</a>
			</div>
		</div>
		<div class="review">
			<div class="photo">
				<img src="image/review/review-photo-1.png" alt="photo">
				<span class="name">Иван рокотов</span>
				<span class="sity">г. Москва</span>
			</div>
			<div class="text">
				<span class="date">20.08.2018</span>
				<p class="message">Читала ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени. График я составила сама, преподаватель его немного подкорректировал в итоге курсы я закончила за две недели. Само занятие - конфа по скайпу с презентациями, индивидуально. Преподаватель рассказывает материал, можно задавать вопросы по ходу, консультироваться,</p>
				<span ng-show="showBlock3" class="message hover">ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени. График я составила сама, преподаватель его немного подкорректировал в итоге курсы я закончила за две недели. Само занятие - конфа по скайпу с презентациями, индивидуально. Преподаватель рассказывает материал, можно задавать вопросы по ходу, консультироваться,</span>
				<a href="" ng-click="showBlock3 = ! showBlock3" ng-hide="showBlock3" class="all-message">Читать весь отзыв</a>
			</div>
		</div>
	</div>
	<a class="button" href="#/">Все отзывы</a>
</section>