<h1 class="title">Семинары</h1>
<section id="breadcrumbs">
	<div class="content">
		<ul>
			<li><a href="#/">Главная</a></li>
			<li><a href="#/seminar">Семинары</a></li>
		</ul>
	</div>
</section>
<section id="seminar">
	<div class="content">
		<div class="seminar">
			<div class="block-p-d">
				<div class="photo">
					<img src="image/seminar/seminar-photo-1.png" alt="photo">
				</div>
				<div class="date">
					<span class="day">26</span>
					<span class="month">мая<span class="year">2018</span></span>
					<span class="start">Начало в 12:00</span>
				</div>
			</div>
			<div class="block-d-l">
				<div class="description">
					<p class="category">Медицина</p>
					<p class="title">ТАКТИКА И СТРАТЕГИЯ МЕДИЦИНСКОЙ ПОМОЩИ</p>
					<span class="snippet">Формат мероприятия очно и онлайн (вебинар). г.Москва, газетный переулок 3, стр. 5</span>
				</div>
				<div class="links">
					<a href="#/" class="button">Заявка</a>
					<a href="#/" class="more">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="seminar">
			<div class="block-p-d">
				<div class="photo">
					<img src="image/seminar/seminar-photo-2.png" alt="photo">
				</div>
				<div class="date">
					<span class="day">28</span>
					<span class="month">мая<span class="year">2018</span></span>
					<span class="start">Начало в 12:00</span>
				</div>
			</div>
			<div class="block-d-l">
				<div class="description">
					<p class="category">Медицина</p>
					<p class="title">ТАКТИКА И СТРАТЕГИЯ МЕДИЦИНСКОЙ ПОМОЩИ</p>
					<span class="snippet">Формат мероприятия очно и онлайн (вебинар). г.Москва, газетный переулок 3, стр. 5</span>
				</div>
				<div class="links">
					<a href="#/" class="button">Заявка</a>
					<a href="#/" class="more">Подробнее</a>
				</div>
			</div>
		</div>
		<div class="seminar">
			<div class="block-p-d">
				<div class="photo">
					<img src="image/seminar/seminar-photo-3.png" alt="photo">
				</div>
				<div class="date">
					<span class="day">30</span>
					<span class="month">мая<span class="year">2018</span></span>
					<span class="start">Начало в 12:00</span>
				</div>
			</div>
			<div class="block-d-l">
				<div class="description">
					<p class="category">Медицина</p>
					<p class="title">ТАКТИКА И СТРАТЕГИЯ МЕДИЦИНСКОЙ ПОМОЩИ</p>
					<span class="snippet">Формат мероприятия очно и онлайн (вебинар). г.Москва, газетный переулок 3, стр. 5</span>
				</div>
				<div class="links">
					<a href="#/" class="button">Заявка</a>
					<a href="#/" class="more">Подробнее</a>
				</div>
			</div>
		</div>
	</div>
	<a href="#/" class="button sem-but">Прошедшие семинары</a>
</section>