<h1 class="title">Спортивный<span>диетолог - нутрициолог</span></h1>
<section id="breadcrumbs">
	<div class="content">
		<ul>
			<li><a href="#/">Главная</a></li>
			<li><a href="#/courses-and-prices">Курсы и цены</a></li>
			<li><a href="#/courses-and-prices/sport-dietolog">Спортивный диетолог - нутрициолог</a></li>
		</ul>
	</div>
</section>
<section id="sport-dietolog">
	<div class="content">
		<div class="block">
			<div class="photo">
				<img src="image/nutritiologist/nutritiologist-photo-1.png" alt="photo">
				<div class="photo-overlay">
					<span class="title">Профессиональная переподготовка</span>
					<span class="snippet">Пройти обучение могут все желающие. Требование: наличие любого среднего профессионального или высшего образования.</span>
				</div>
				<span class="money">75 000</span>
			</div>
			<div class="border">
				<ul class="list">
					<li>250 ак. часов / 3 месяца</li>
					<li>11 вебинаров и обучение на портале</li>
					<li>Диплом о профессиональной переподготовке</li>
					<li>Дубликат диплома от Академии в рамке на позолоченной металлической основе<a href="#/">Образец</a></li>
				</ul>
				<a href="#/" class="button">Запросить консультацию</a>
			</div>
		</div>
		<div class="block">
			<div class="photo">
				<img src="image/nutritiologist/nutritiologist-photo-2.png" alt="photo">
				<div class="photo-overlay">
					<span class="title">Профессиональная переподготовка</span>
					<span class="snippet">Пройти обучение могут все желающие. Требование: наличие любого среднего профессионального или высшего образования.</span>
				</div>
				<span class="money">25 000</span>
			</div>
			<div class="border">
				<ul class="list">
					<li>144 ак. часов / 1 месяц</li>
					<li>6 вебинаров и обучение на портале</li>
					<li>Удостоверение о повышении квалификации<a href="#/">Образец</a></li>
				</ul>
				<a href="#/" class="button">Запросить консультацию</a>
			</div>
		</div>
		<div class="block">
			<div class="photo">
				<img src="image/nutritiologist/nutritiologist-photo-3.png" alt="photo">
				<div class="photo-overlay">
					<span class="title">Профессиональная переподготовка</span>
					<span class="snippet">Пройти обучение могут все желающие. Требование: наличие любого среднего профессионального или высшего образования.</span>
				</div>
				<span class="money">25 000</span>
			</div>
			<div class="border">
				<ul class="list">
					<li>144 ак. часов / 1 месяц</li>
					<li>6 вебинаров и обучение на портале</li>
					<li>Удостоверение о повышении квалификации<a href="#/">Образец</a></li>
				</ul>
				<a href="#/" class="button">Запросить консультацию</a>
			</div>
		</div>
	</div>
</section>