<h1 class="title">Самая лучшая диета для  похудения</h1>
<section id="breadcrumbs">
	<div class="content">
		<ul>
			<li><a href="#/">Главная</a></li>
			<li><a href="#/blog">Блог</a></li>
			<li><a href="#/blog/the-best-diet">Самая лучшая диета для  похудения</a></li>
		</ul>
	</div>
</section>
<section id="the-best-diet">
	<div class="content">
		<ul class="list">
			<li class="active">Тренировки</li>
			<li>Упражнения</li>
			<li>питание</li>
			<li>похудение</li>
			<li>девушкам</li>
			<li>бодибилдеры</li> 
		</ul>
		<div class="box">
			<h2 class="title">САМАЯ ЛУЧШАЯ ДИЕТА ДЛЯ ПОХУДЕНИЯ</h2>
			<img src="image/blog/the-best-diet/the-best-photo-1.png" alt="photo" class="photo-big">
			<p>Персональный фитнес инструктор - востребованный специалист, в обязанности которого входит разработка рациона питания клиента, составление программы физических нагрузок. Он заинтересован в том, чтобы посетитель достиг положительного результата в установленные сроки, но с очень важным условием - без вреда для здоровья. Если у вас не хватает времени на посешение типичных занятий, запишитесь на дистанционное обучение фитнес инструкторов.</p>
			<h3>Особенности программы</h3>
			<p>Дистанционный учебный курс по обучению фитнес инструкторов направлен на получение знаний и выработку навыков, которые потом помогут специалисту реализовать себя в этой сфере деятельности. Тематические блоки курса:</p>
			<ul>
				<li>базовые знания из таких дисциплин, как физиология, анатомия, медицина;</li>
				<li>основы бодибилдинга;</li>
				<li>диеты и сбалансированное питание;</li>
				<li>физические упражнения для проработки разных групп мышц;</li>
				<li>развитие коммуникационных навыков и личных качеств, необходимых для налаживания контакта с другими людьми.</li>
			</ul>
			<p>После прохождения обучения фитнес инструкторов дистанционно вы получите сертификат, подтверждающий квалификационный уровень, что позволит вам реализовать себя в этой профессии. Вы с лёгкостью сможете освоиться в спортивном зале любого центра, приспособиться к работе с разными тренажёрами. Профессиональная подготовка включает теоретическую часть и практику.</p>
			<h3>Преимущества дистанционного обучения</h3>
			<p>Наша школа предлагает выучиться на фитнес тренера дистанционно. Почему это выгодно? Во-первых, вам не нужно будет посещать зал, вы занимаетесь дома онлайн. Во-вторых, стоит дистанционный курс меньше, чем обычный. В-третьих, обучающемуся предоставляются все необходимые методические материалы, учебники, видео. Групповые семинары проходят по компьютеру. Ваш преподаватель всегда на связи. Если возникнут какие-либо вопросы, просто ему позвоните.</p>
			<p>Думаете, что обучиться дистанционно без тренировок невозможно? Спешим вас уверить, это не так. Достаточно вашего желания, немного времени и стараний, и всё получится. После завершения курсов вы сможете помогать людям в достижении своих целей, и получать за это неплохую прибыль.</p>
			<div class="social">
				<a href="#/" class="vk"></a>
				<a href="#/" class="googl"></a>
				<a href="#/" class="faceb"></a>
				<a href="#/" class="odnok"></a>
			</div>
			<div class="comments">
				<div class="review">
					<div class="photo">
						<img src="image/review/review-photo-1.png" alt="photo">
					</div>
					<div class="text">
						<div>
							<span class="name">Иван рокотов</span>
							<span class="date">20.08.2018</span>
						</div>
						<a href="#/" class="button">Ответить</a>
						<p class="message">Читала ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени.</p>
					</div>
				</div>
				<div class="answer">
					<div class="photo">
						<img src="image/review/review-photo-2.png" alt="photo">
					</div>
					<div class="text">
						<div>
							<span class="name">Администратор</span>
							<span class="date">20.08.2018</span>
						</div>
						<a href="#/" class="button">Ответить</a>
						<p class="message">Читала ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени.</p>
					</div>
				</div>
				<div class="review">
					<div class="photo">
						<img src="image/review/review-photo-1.png" alt="photo">
					</div>
					<div class="text">
						<div>
							<span class="name">Иван рокотов</span>
							<span class="date">20.08.2018</span>
						</div>
						<a href="#/" class="button">Ответить</a>
						<p class="message">Читала ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени.</p>
					</div>
				</div>
				<div class="review">
					<div class="photo">
						<img src="image/review/review-photo-1.png" alt="photo">
					</div>
					<div class="text">
						<div>
							<span class="name">Иван рокотов</span>
							<span class="date">20.08.2018</span>
						</div>
						<a href="#/" class="button">Ответить</a>
						<p class="message">Читала ранее много отзывов о курсах диетологии и мне было интересно - как же оно на самом деле. На самом деле онлайн курсы проходят по индивидуальному графику, у меня 16 часов курсов распределились на 5 занятий.Каждое занятие 2, 5 часа - это нормально, не устаешь и не занимает много времени.</p>
					</div>
				</div>
				<form action="#" class="add-com">
					<h3>ДОБАВИТЬ КОММЕНТАРИЙ ДЛЯ АНОНИМ</h3>
					<p class="green">Ваш E-mail не будет опубликован</p>
					<p>Комментарий</p>
					<textarea name="message" required="required" ></textarea>
					<input type="text" name="name" required="required" placeholder="Имя">
					<input type="text" name="email" required="required" placeholder="Email">
					<button class="button" type="submit">Отправить</button>
				</form>
			</div>
		</div>
		<div class="sidebar">
			<form action="#" class="subscribe">
				<p class="title">ПОДПИСАТЬСЯ НА НОВЫЕ СТАТЬИ</p>
				<input name="email" type="email" required="reauired" placeholder="E-mail">
				<button type="submit" class="button">Подписаться</button>
			</form>
			<h2>популярные статьи</h2>
			<a href="#/" class="block">
				<img src="image/blog/sidebar-photo-1.png" alt="photo">
				<span class="hover">порядок выполнения упражнений</span>
			</a>
			<a href="#/" class="block">
				<img src="image/blog/sidebar-photo-2.png" alt="photo">
				<span class="hover">порядок выполнения упражнений</span>
			</a>
			<a href="#/" class="block">
				<img src="image/blog/sidebar-photo-1.png" alt="photo">
				<span class="hover">порядок выполнения упражнений</span>
			</a>
			<a href="#/" class="block">
				<img src="image/blog/sidebar-photo-2.png" alt="photo">
				<span class="hover">порядок выполнения упражнений</span>
			</a>
			<a href="#/" class="block">
				<img src="image/blog/sidebar-photo-1.png" alt="photo">
				<span class="hover">порядок выполнения упражнений</span>
			</a>
			<form action="#" class="subscribe">
				<p class="title">ПОДПИСАТЬСЯ НА НОВЫЕ СТАТЬИ</p>
				<textarea name="message" required="required" placeholder="Опишите ваш вопрос"></textarea>
				<input name="name" type="text" required="required" placeholder="Имя">
				<input name="email" type="email" required="required" placeholder="E-mail">
				<button class="button" type="submit">Отправить</button>
			</form>
		</div>
	</div>
</section>